body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.rectangle1 {
    width: 100%;
    height: 1177px;
    background: url(../image/stefan.png);
    background: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.rectangle1_gradient {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1336px;
    background: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.81) 0%, rgba(72, 72, 72, 0) 31.25%, rgba(158, 158, 158, 0) 77.6%, #FFFFFF 85.42%);
}

.rectangle1_conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1729px;
    height: 1336px;
}

.rectangle1_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    min-width: 20px;
    height: 92px;
}

.header_travelgoo {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 76px;
    height: 60px;
    font-family: 'Laila', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    margin-left: 136px;
    margin-top: 32px;
}

.travelgoo_travel {
    font-size: 24px;
    line-height: 25px;
}

.travelgoo_goo {
    font-size: 32px;
    line-height: 33px;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    max-width: 100%;
    min-width: 382px;
    height: 27px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 6px;
}

.header_user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 118px;
    height: 48px;
    margin-top: 48px;
    margin-right: 145px;
}

.rectangle1_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 779px;
    height: 404px;
    margin-bottom: 460px;
}

.rectangle1_tittle {
    width: 779px;
    height: 204px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 75px;
    line-height: 102px;
    text-align: center;
    color: #FFFFFF;
}

.rectangle1_text {
    width: 568px;
    height: 44px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;

    margin-top: 57px;
    margin-bottom: 39px;
}

.rectangle1_button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    width: 214px;
    height: 60px;
    background: #00A651;
    border-radius: 10px;
    border: none;
}